**/__generated__/** linguist-generated=true
packages/core/site-content/docs/cli-reference/** linguist-generated=true
packages/core/site-content/docs/config.json linguist-generated=true
packages/core/site-content/cli-reference/** linguist-generated=true
